* {
  box-sizing: border-box;
}

.text-gray {
  color: var(--normal-gray);
}

.mb-64 {
  margin-bottom: 64px;
}

.main-content .mb-36 {
  margin-bottom: 36px;
}

.main-content .mb-50 {
  margin-bottom: 50px;
}

.paragraph-gray {
  color: var(--transparent-gray);
}

.text-center {
  text-align: center;
}

.heading1 {
  font-size: 88px;
  font-weight: 200;
  color: var(--light-yellow);
  text-align: center;
  margin: 0;
}

.heading2 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: var(--dark-blue);
}

.heading3 {
  font-size: 28px;
  font-weight: 500;
  color: var(--dark-blue);
}

.heading4 {
  font-size: 12px;
  color: var(--transparent-gray);
}

.heading5 {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-blue);
}

head,
body {
  margin: 0;
  padding: 0;
  font-family: Asap, sans-serif;
}

.max-space-available {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: var(--transparent);
  position: absolute;
  width: 100%;
  padding: 20px;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
}

.header .header-container .navigation ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header .header-container .navigation ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 800;
  transition: all 0.3s ease-in;
}

.header .header-container .navigation ul li:hover a {
  color: var(--normal-orange);
}

.main-content .intro-section {
  background-image: url("https://www.itschool.ro/_next/static/media/anniversary-background-image.487ae680.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  padding-top: 100px;
}

.main-content .intro-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.main-content .intro-section .content .discount-badge {
  background-color: var(--light-blue);
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.main-content .intro-section .content .graduates {
  color: var(--normal-gray);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.main-content .intro-section .content .graduates img {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  border: 1px solid var(--normal-blue);
  margin-left: -10px;
}

.main-content .intro-section .content .partners {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-content .courses-section {
  background-image: url("https://www.itschool.ro/_next/static/media/background.570f46a1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content .courses-section .content {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main-content .courses-section .content .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.main-content .courses-section .content .cards .card {
  background-color: var(--light-gray);
  max-width: 280px;
  padding: 24px 24px 40px 24px;
  border-radius: 16px;
  box-shadow: rgba(25, 30, 48, 0.1) 0px 2rem 4rem 0px;
  position: relative;
  cursor: pointer;
}

.main-content .courses-section .content .cards .card .card-icon {
  position: relative;
  left: -24px;
}

.main-content .courses-section .content .cards .card .arrow-icon {
  position: absolute;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
}

.main-content .courses-section .content .cards .card .arrow-icon:hover path {
  fill: var(--normal-green);
}

.main-content .courses-section .content .cards .card .green-badge {
  background-color: var(--transparent-green);
  color: var(--light-green);
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 8px;
  position: absolute;
  right: 30px;
}

.main-content .discover-section .content {
  padding: 100px 20px;
}

.main-content .discover-section .discover-card {
  display: flex;
  gap: 50px;
  box-shadow: rgba(25, 30, 48, 0.1) 0px 0.5rem 2rem 0px;
  border-radius: 24px;
  padding: 48px;
  margin-bottom: 100px;
}

.main-content .discover-section .discover-card .discover-card-small-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
}

.main-content .discover-section .discover-card .discover-card-image,
.main-content .discover-section .discover-card .discover-card-info {
  flex: 1;
}

.main-content .discover-section .discover-card .discover-card-image {
  display: flex;
  align-items: center;
}

.main-content .discover-section .discover-card .discover-card-image img {
  width: 100%;
}

.main-content .discover-section .discover-card .discover-card-info .time-info {
  display: flex;
  gap: 20px;
}

.main-content .discover-section .time-info .time-info-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-content .discover-section .time-info .time-info-item p {
  font-size: 24px;
  font-weight: 800;
}

.main-content .benefits-cards p {
  font-size: 20px;
  font-weight: 600;
}

.main-content .benefits-cards .benefits-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-content .benefits-cards .benefits-cards-container .benefits-card {
  width: calc(50% - 10px);
  padding: 32px 40px;
  border-radius: 24px;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.main-content .benefits-card .placeholder {
  position: absolute;
  top: 0;
  left: 25%;
}

.main-content .benefits-cards .benefits-cards-container .benefits-card.green {
  background: linear-gradient(
      281deg,
      var(--gradient-left-green) 0%,
      var(--gradient-right-green) 100%
    ),
    var(--gradient-blue);
}

.main-content .benefits-cards .benefits-cards-container .benefits-card.blue {
  background: linear-gradient(
      79deg,
      rgba(0, 66, 101, 0.58) 0%,
      rgba(157, 221, 254, 0) 100%
    ),
    rgb(27, 33, 52);
}

.main-content .benefits-cards .benefits-cards-container .benefits-card.red {
  background: linear-gradient(
      259deg,
      rgba(160, 31, 0, 0.58) 0%,
      rgba(255, 177, 157, 0) 100%
    ),
    rgb(27, 33, 52);
}

.main-content .benefits-cards .benefits-cards-container .benefits-card.yellow {
  background: linear-gradient(
      101deg,
      rgba(193, 116, 0, 0.58) 0%,
      rgba(251, 232, 167, 0) 100%
    ),
    rgb(27, 33, 52);
}

.main-content
  .benefits-cards
  .benefits-cards-container
  .benefits-card.green::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 70%;
  border-radius: 0 24px 24px 0;
  left: 0;
  background-color: var(--normal-green);
}

.main-content
  .benefits-cards
  .benefits-cards-container
  .benefits-card.blue::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 70%;
  border-radius: 24px 0 0 24px;
  right: 0;
  background-color: var(--normal-blue);
}

.main-content
  .benefits-cards
  .benefits-cards-container
  .benefits-card.red::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 70%;
  border-radius: 0 24px 24px 0;
  left: 0;
  background-color: var(--normal-red);
}

.main-content
  .benefits-cards
  .benefits-cards-container
  .benefits-card.yellow::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 70%;
  border-radius: 24px 0 0 24px;
  right: 0;
  background-color: var(--normal-yellow);
}

.footer .content {
  padding: 50px 20px;
}

.footer .links {
  display: flex;
  gap: 20px;
}

.footer .links .links-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer a {
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.footer .links .links-column a {
  margin-bottom: 8px;
  color: var(--dark-blue);
}

.footer .terms-links a:hover,
.footer .links .links-column a:hover {
  color: var(--normal-green);
}

.footer .links .logo-and-stuff {
  padding-right: 50px;
}

.footer .links .logo-and-stuff img {
  width: 108px;
}

.footer .links .logo-and-stuff .socials {
  display: flex;
  gap: 20px;
}

.footer .links .logo-and-stuff .socials svg {
  width: 24px;
  height: 24px;
}

.footer .links .logo-and-stuff .socials svg path {
  fill: var(--black);
  transition: all 0.3s ease-in;
}

.footer .links .logo-and-stuff .socials svg:hover path {
  fill: var(--hover-blue);
}

.footer .terms-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  margin-top: 50px;
}

.footer .terms-links .copyright,
.footer .terms-links a {
  color: var(--transparent-gray);
}

.footer .terms-links a:first-of-type {
  margin-left: auto;
}
.tema-sectiune {
  position: relative;
  background-color: #cacdc11a;
  display: flex;
  flex-direction: column;
}
.tema-sectiune .container-info {
  display: flex;
  width: 100%;
  padding: 100px 20px 100px 20px;

  column-gap: 20px;
  row-gap: 20px;
}
.homework-area {
  padding: 96px 20px;
}
.titlu-tema {
  font-size: 36px;
  font-weight: 400;
}
.homework-area .titlu {
  margin-bottom: 1.6rem;
  font-size: 20px;
  font-weight: 600;
}
.homework-area .paragraf {
  font-size: 16px;
  font-weight: normal;
}
.info3 .info2 .info1 {
  flex-wrap: wrap;
  position: absolute;
  display: flex;
}

.continut-info1 .continut-info2 .continut-info3 {
  display: flex;
  flex-direction: column;
}
.homework {
  background-color: #cacdc11a;
}
.homework-title {
  max-width: 100%;
  font-size: 36px;
  font-weight: normal;
  color: var(--dark-blue);
  padding-top: 80px;
}
.homework .text-area {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.side-icon1 {
  display: flex;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background-color: var(--normal-orange);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.side-icon2 {
  display: flex;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background-color: var(--normal-blue);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.side-icon3 {
  display: flex;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background-color: var(--normal-green);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.text-area-1 {
  display: flex;
  max-width: 350px;
  gap: 20px;
}

.text-area-2 {
  display: flex;
  max-width: 350px;
  gap: 20px;
}

.text-area-3 {
  display: flex;
  max-width: 350px;
  gap: 20px;
}

.text-all {
  font-size: 16px;
  font-weight: 600;
}
.paragraf {
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 400;
}
.homework .bottom-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--transparent-gray);
  font-size: 18px;
  font-weight: 500;
}
.homework .partners-logo {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
}
.tema-curs-9 {
  background-image: url(https://www.itschool.ro/_next/static/media/interview-bg.6bd5d1f4.jpeg);
}
.povesti-de-succes {
  display: flex;
}
.inspiration-text-area {
  color: white;
  max-width: 50%;
  min-width: 30%;
}
.inspiration-text-area .heroes-of-itschool {
  font-size: 16px;
  line-height: 1.5;
}
.inspiration-text-area .povesti-de-succes {
  font-size: 36px;
  line-height: 1.22;
  font-weight: normal;
}
.inspiration-text-area .inspira-te {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
}
.tema-suplimentara {
  display: flex;
  flex-wrap: wrap;
  background-image: url(https://www.itschool.ro/_next/static/media/interview-bg.6bd5d1f4.jpeg);
}
.extra-homework {
  display: flex;
  gap: 60px;
  padding: 130px 30px;
  flex-shrink: 1;
  flex-wrap: wrap;
}
.right-side-cards {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  cursor: pointer;
  flex-wrap: wrap;
}
.cursant-python {
  color: rgba(25, 30, 48, 0.6);
}
.nume-robert {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.22;
}
.left-side {
  color: white;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.left-side .heroes {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  white-space: pre-wrap;
}
.povesti-de-succes {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.22;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.inspira-te {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0;
}
.acestia-au-pornit {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 0;
}
.poza-robert img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.tema-suplimentara .robert-nicolescu-card {
  background-color: white;
  display: flex;
  gap: 20px;
  box-shadow: rgba(25, 30, 48, 0.1) 0px 20px 40px;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
}
.detalii-robert {
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.btn {
  padding: 16px 64px;
  background-color: var(--normal-gray);
  border-radius: 24px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn-primary {
  background-color: var(--button-blue);
}

.btn.btn-success {
  background-color: var(--normal-green);
}
.btn .mb-64 .bottom-btn {
  padding: 16px 64px;
  background-color: var(--normal-green);
  border-radius: 24px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.tema-suplimentara-btn {
  padding: 16px 30px;
  background-color: white;
  border-radius: 24px;
  font-size: 16px;
  color: var(--button-blue);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  transition: opacity 0.25s ease-in;
}
.tema-suplimentara-btn:hover {
  opacity: 0.8;
}
:root {
  --light-yellow: #fcfaf7;
  --light-blue: #9dddfe;
  --normal-blue: #1083bf;
  --light-gray: #fdfdfd;
  --normal-gray: #fcfaf799;
  --transparent-gray: #191e3066;
  --white: #fff;
  --button-blue: #017bbb;
  --transparent: transparent;
  --normal-orange: #ecb13a;
  --normal-green: #008768;
  --light-green: #00c569;
  --transparent-green: #00c5691a;
  --dark-blue: #191e30;
  --gradient-left-green: #005c4394;
  --gradient-right-green: #a8ead800;
  --gradient-blue: #1b2134;
  --normal-red: #e3522f;
  --normal-yellow: #efb938;
  --black: #000;
  --hover-blue: #191e30cc;
  --transparent-black: #cacdc11a;
}
@media (min-width: 300px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  .header .navigation {
    display: none;
    margin-left: 20px;
  }
  .logo {
    max-width: 200px;
  }
  .main-content .heading1 {
    font-size: 50px;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
  }
  .main-content .courses-section .content .cards {
    display: flex;
    flex-direction: column;
  }
  .main-content .discover-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .discover-card .discover-card-info .time-info {
    display: flex;
    flex-direction: column;
  }
  .btn.btn-success {
    padding: 10px 30px;
  }
  .main-content .discover-section .discover-card .discover-card-image {
    display: none;
  }
  .main-content .benefits-cards .benefits-cards-container {
    flex-direction: column;
    display: flex;
    padding: 2px;
  }
  .benefits-card {
    min-width: 300px;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .homework {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .homework .partners-logo {
    display: flex;
    flex-wrap: wrap;
  }
  .extra-homework {
    display: flex;
    gap: 30px;
  }

  .tema-suplimentara .robert-nicolescu-card {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    padding: 0;
  }
  .footer .links {
    display: flex;
    flex-direction: column;
  }
}
